/************************* 변수 ***********************/
$black-color: #1c1b20;
$coral-color: #ff5851;
$white-color: #f8f8f8;
$darkBlue-color: #414a6b;
$gray-color: #c1c1c1;

/**********************초기화 코드 *****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: "Roboto", sans-serif;
  color: $black-color;
}

body {
  width: 100%;
  height: 100%;
}

header,
.main,
footer {
  padding: 0 63px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/******************* HEADER *************************/

header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  & .logo {
    font-weight: 900;
    font-size: 32px;
  }
  & .nav {
    font-weight: 700;
    font-size: 18px;
    display: flex;
    z-index: 1;

    & li {
      padding: 0 2.1666em 0 2.1666em;
      cursor: pointer;
    }

    & li:nth-child(3) {
      padding-right: 20px;
    }

    & .responsive {
      display: none;
    }
  }
  & .nav-icon {
    display: none;
  }
}
/******************* HEADER 끝*************************/

/******************* MAIN *************************/
.main {
  display: flex;
  background: $coral-color;
  padding-right: 0;

  & .main-title {
    width: 50%;
    max-height: 100vh;
    padding-top: 240px;
    z-index: 99;
    position: relative;

    & p:nth-child(1) {
      font-size: 72px;
      font-weight: 700;
      white-space: nowrap;
    }

    & p:nth-child(2) {
      font-size: 18px;
    }

    & .scroll-title {
      font-size: 24px;
      font-weight: 700;
      color: #f8f8f8;
      position: absolute;
      right: -15px;
      bottom: 68px;
      transform: rotate(270deg);
    }

    & .fa-arrow-down {
      color: $white-color;
      position: absolute;
      right: 8px;
      bottom: 20px;
      animation: arrow-down 1s infinite linear;
    }
  }

  & .main-img {
    width: 50%;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

@keyframes arrow-down {
  form {
    bottom: 20px;
  }

  to {
    bottom: 0px;
  }
}
/******************* MAIN 끝*************************/

/******************* ABOUT *************************/

.about {
  padding: 0 63px;
  background: $white-color;
  & .information {
    text-align: center;
    padding: 200px 0;

    & .about-title {
      font-size: 72px;
      font-weight: 900;
      color: $coral-color;
      letter-spacing: 0.12em;

      &::after {
        content: "";
        display: block;
        width: 208px;
        height: 5px;
        margin: 25px auto;
        background: #ff5851;
      }
    }

    & .about-me {
      font-size: 24px;

      & li {
        padding-bottom: 16px;
      }
    }
  }

  & .ability {
    display: grid;
    grid-template-columns: repeat(3, minmax(208px, 578px));
    gap: 0 30px;
    text-align: center;
    justify-content: space-around;

    & > div {
      padding: 64px 8px;
      background: $white-color;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.16);
    }

    & .ability-iconbox {
      width: 180px;
      height: 180px;
      margin: 0 auto;
      font-size: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $white-color;
      border-radius: 50%;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.16);
    }

    & .design-list,
    .publisher-list,
    .education-list {
      font-size: 24px;

      & li {
        padding-bottom: 16px;
      }
    }
    & ul {
      padding-top: 32px;
      & .ability-sub {
        font-size: 40px;
        font-weight: 700;
        padding-bottom: 32px;
      }
    }

    & .education-list {
      & .small-writing {
        font-size: 16px;
        &:nth-of-type(4) {
          padding-bottom: 32px;
        }
      }
    }
  }
}

/******************* PROJECTS *************************/
.projects {
  padding: 200px 63px;
  background: $white-color;
  & .projects-title {
    font-size: 72px;
    font-weight: 900;
    color: $darkBlue-color;
    letter-spacing: 0.12em;
    padding-bottom: 64px;
    text-align: center;
  }

  & .projects-list {
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 3px;
      height: 100%;
      top: 0;
      left: 50%;
      background: $gray-color;
    }

    & .projects-item {
      position: relative;
      & .projects-item_preview {
        &::after {
          content: "";
          display: block;
          clear: both;
        }
        & a {
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.16);
        }

        & .item-right {
          float: right;
        }

        & .item-left {
          float: left;
        }
      }

      & .projects-item_sub {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $white-color;
        text-align: center;
        padding: 8px 0;
        z-index: 2;

        & li {
          padding: 8px 0;
        }

        & li:nth-child(1) {
          font-size: 24px;
        }
        & li:nth-child(2) {
          font-size: 32px;
          font-weight: 700;
        }
        & li:nth-child(3) {
          font-size: 16px;
        }
      }
    }
  }
}

/******************* CONTACT , FOOTER *************************/
footer {
  padding: 32px 0;
  text-align: center;
  background: $black-color;
  color: $white-color;

  & .footer-sub {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 64px;
  }

  & .contact {
    padding-bottom: 48px;
    & .contact-title {
      font-size: 72px;
      font-weight: 900;
      padding-bottom: 16px;
      letter-spacing: 0.12em;
    }
    & .information {
      font-size: 24px;

      & > li {
        padding-bottom: 16px;

        &:nth-child(3) {
          font-size: 32px;
        }

        & > a {
          color: $white-color;
        }
      }
    }
  }

  & .copyright {
    font-size: 12px;
  }

  & .fa-caret-up {
    font-size: 64px;
    position: absolute;
    right: 63px;
    transform: translateY(-48px);
    padding: 0 0.16em;
    z-index: 1;
    cursor: pointer;
  }
}

/******************* 반응형 1280px *************************/
@media screen and (max-width: 1919px) {
  header,
  .main,
  footer {
    padding: 0 28px;
  }

  /******************* HEADER *************************/
  header {
    padding-top: 28px;

    & .logo {
      font-size: 28px;
    }

    & .nav {
      font-size: 16px;

      & li {
        padding: 0 1.08em 0 1.08em;
      }

      & li:nth-child(3) {
        padding-right: 3px;
      }
    }
  }

  .main {
    padding-right: 0;

    & .main-title {
      & p:nth-child(1) {
        font-size: 56px;
      }
      .scroll-title {
        font-size: 20px;
        right: -12px;
      }
    }

    & .main-img {
      background: #fff;

      & img {
        opacity: 0.85;
      }
    }
  }

  .about {
    padding: 0 28px;

    & .information {
      padding: 160px 0;

      & .about-title {
        font-size: 56px;
      }

      & .about-me {
        font-size: 20px;
      }
    }

    & .ability {
      grid-template-columns: repeat(3, minmax(208px, 392px));
      gap: 0 25px;

      & .ability-iconbox {
        width: 120px;
        height: 120px;
        font-size: 30px;
      }

      & .design-list,
      .publisher-list,
      .education-list {
        font-size: 18px;

        & li {
          padding-bottom: 8px;
        }
      }

      & ul {
        & .ability-sub {
          font-size: 28px;
        }
      }

      & .education-list {
        & .small-writing {
          font-size: 14px;
          &:nth-of-type(4) {
            padding-bottom: 24px;
          }
        }
      }
    }
  }
}

/******************* 반응형 768px *************************/
@media screen and (max-width: 768px) {
  header,
  .main,
  footer {
    padding: 0 24px;
  }
  /******************* HEADER *************************/

  header {
    position: absolute;
    width: 100%;
    padding-top: 24px;
    & .logo {
      font-size: 24px;
    }
    & .nav li {
      font-size: 15px;
    }
  }

  .main {
    padding-right: 0;

    & .main-title {
      padding-top: 185px;

      & p:nth-child(1) {
        font-size: 64px;
      }

      & span {
        color: $coral-color;
      }

      & .scroll-title {
        font-size: 16px;
        right: -5px;
      }

      & .fa-arrow-down {
        font-size: 16px;
      }
    }

    & .main-img {
      & img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .about {
    padding: 0 24px;

    & .information {
      padding: 140px 0;
      & .about-title {
        font-size: 48px;
        &::after {
          width: 160px;
          height: 3px;
          margin: 20px auto;
        }
      }

      & .about-me {
        font-size: 18px;
      }
    }

    & .ability {
      grid-template-columns: repeat(3, minmax(208px, 232px));

      & .design-list,
      .publisher-list,
      .education-list {
        font-size: 14px;
        padding-top: 24px;

        & .ability-sub {
          font-size: 22px;
        }
      }

      & > div {
        padding: 24px 8px;
      }

      & .ability-iconbox {
        width: 90px;
        height: 90px;
        font-size: 24px;
      }

      & .education-list {
        & .small-writing {
          font-size: 8px;
        }
      }
    }
  }
}

/******************* 모바일 반응형 480px *************************/
@media screen and (max-width: 480px) {
  header,
  footer {
    padding: 0 20px;
  }

  header {
    align-items: center;
    padding-top: 20px;
    & .logo {
      font-size: 16px;
    }

    & .nav {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100vh;
      padding-top: 161px;
      background: #f8f8f8;
      transform: translate(-100%);
      transition: all 500ms cubic-bezier(0.545, 0.005, 0.945, 0.585);
      flex-direction: column;
      z-index: 998;

      & li {
        font-size: 32px;
        padding: 0 0 16px 20px;
      }

      & li:nth-of-type(4) {
        padding-top: 15.2em;
      }

      & li.responsive {
        display: block;
        font-size: 14px;

        & i.fa-github {
          font-size: 20px;
          padding: 0.25rem;
          color: $black-color;
        }
      }
    }

    & .nav.nav-view {
      transform: translate(0%);
    }

    & .nav-icon {
      width: 40px;
      height: 40px;
      background: #fff;
      border-radius: 50%;
      display: block;
      position: fixed;
      right: 20px;
      cursor: pointer;
      z-index: 999;

      & .icons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        & div {
          background: $black-color;
          margin-bottom: 2px;
        }

        & .icon-1 {
          width: 26px;
          height: 3px;
          transition: 500ms;
        }

        & .icon-1.nav-view-ani {
          transform: rotate(45deg) translate(20%, 150%);
        }

        & .icon-2 {
          width: 18px;
          height: 3px;
          transition: 500ms;
        }

        & .icon-2.nav-view-ani {
          width: 0;
        }

        & .icon-3 {
          width: 10px;
          height: 3px;
          transition: 500ms;
        }

        & .icon-3.nav-view-ani {
          width: 26px;
          transform: rotate(-45deg) translate(10%, -50%);
        }
      }
    }
  }

  .main {
    padding: 0;
    flex-direction: column;
    & .main-title {
      width: 100%;
      height: 100vh;
      padding-left: 20px;
      padding-right: 20px;
      & p:nth-child(1) {
        font-size: 30px;
      }

      & p:nth-child(2) {
        font-size: 12px;
      }

      & span {
        color: $black-color;
      }
    }

    & .main-img {
      width: 100%;
    }
  }

  & .about {
    padding: 20px 0;
    & .information {
      padding: 120px 0;

      & .about-title {
        font-size: 32px;
        &::after {
          width: 100px;
          height: 2px;
          margin: 12px auto;
        }
      }

      & .about-me {
        font-size: 15px;
      }
    }

    & .ability {
      grid-template-columns: repeat(1, minmax(208px, 232px));
      gap: 56px 0;
    }
  }
}
