@charset "UTF-8";
/************************* 변수 ***********************/
/**********************초기화 코드 *****************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html {
  font-family: "Roboto", sans-serif;
  color: #1c1b20;
}

body {
  width: 100%;
  height: 100%;
}

header,
.main,
footer {
  padding: 0 63px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/******************* HEADER *************************/
header {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

header .logo {
  font-weight: 900;
  font-size: 32px;
}

header .nav {
  font-weight: 700;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav li {
  padding: 0 2.1666em 0 2.1666em;
  cursor: pointer;
}

header .nav li:nth-child(3) {
  padding-right: 20px;
}

header .nav .responsive {
  display: none;
}

header .nav-icon {
  display: none;
}

/******************* HEADER 끝*************************/
/******************* MAIN *************************/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ff5851;
  padding-right: 0;
}

.main .main-title {
  width: 50%;
  max-height: 100vh;
  padding-top: 240px;
  z-index: 99;
  position: relative;
}

.main .main-title p:nth-child(1) {
  font-size: 72px;
  font-weight: 700;
  white-space: nowrap;
}

.main .main-title p:nth-child(2) {
  font-size: 18px;
}

.main .main-title .scroll-title {
  font-size: 24px;
  font-weight: 700;
  color: #f8f8f8;
  position: absolute;
  right: -15px;
  bottom: 68px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.main .main-title .fa-arrow-down {
  color: #f8f8f8;
  position: absolute;
  right: 8px;
  bottom: 20px;
  -webkit-animation: arrow-down 1s infinite linear;
          animation: arrow-down 1s infinite linear;
}

.main .main-img {
  width: 50%;
  max-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@-webkit-keyframes arrow-down {
  form {
    bottom: 20px;
  }
  to {
    bottom: 0px;
  }
}

@keyframes arrow-down {
  form {
    bottom: 20px;
  }
  to {
    bottom: 0px;
  }
}

/******************* MAIN 끝*************************/
/******************* ABOUT *************************/
.about {
  padding: 0 63px;
  background: #f8f8f8;
}

.about .information {
  text-align: center;
  padding: 100px 0;
}

.about .information .about-title {
  font-size: 72px;
  font-weight: 900;
  color: #ff5851;
}

.about .information .about-title::after {
  content: "";
  display: block;
  width: 208px;
  height: 5px;
  margin: 25px auto;
  background: #ff5851;
}

.about .information .about-me {
  font-size: 24px;
}

.about .information .about-me li {
  padding-bottom: 16px;
}

.about .ability {
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". . .";
  grid-gap: 0 30px;
  text-align: center;
}

.about .ability > div {
  width: 578px;
  height: 732px;
  background: #f8f8f8;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.16);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.16);
}

.about .ability .ability-iconbox {
  width: 274px;
  height: 274px;
  margin: 32px auto;
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f8f8f8;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.16);
}

.about .ability .design-list,
.about .ability .publisher-list,
.about .ability .education-list {
  font-size: 24px;
}

.about .ability .design-list li,
.about .ability .publisher-list li,
.about .ability .education-list li {
  padding-bottom: 16px;
}

.about .ability ul .ability-sub {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 32px;
}

.about .ability .education-list .small-writing {
  font-size: 16px;
}

.about .ability .education-list .small-writing:nth-of-type(4) {
  padding-bottom: 32px;
}

/******************* PROJECTS *************************/
/******************* CONTACT , FOOTER *************************/
/******************* 반응형 1280px *************************/
@media screen and (max-width: 1280px) {
  header,
  .main,
  footer {
    padding: 0 28px;
  }
  /******************* HEADER *************************/
  header {
    padding-top: 28px;
  }
  header .nav {
    font-size: 16px;
  }
  header .nav li {
    padding: 0 1.08em 0 1.08em;
  }
  header .nav li:nth-child(3) {
    padding-right: 3px;
  }
  .main {
    padding-right: 0;
  }
}

/******************* 반응형 768px *************************/
@media screen and (max-width: 768px) {
  header,
  .main,
  footer {
    padding: 0 24px;
  }
  /******************* HEADER *************************/
  header {
    position: absolute;
    width: 100%;
    padding-top: 24px;
  }
  header .logo {
    font-size: 24px;
  }
  header .nav li {
    font-size: 15px;
  }
  .main {
    padding-right: 0;
  }
  .main .main-title {
    padding-top: 185px;
  }
  .main .main-title p:nth-child(1) {
    font-size: 64px;
  }
  .main .main-title span {
    color: #ff5851;
  }
  .main .main-title .scroll-title {
    font-size: 16px;
    right: -5px;
  }
  .main .main-title .fa-arrow-down {
    font-size: 16px;
  }
  .main .main-img img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/******************* 모바일 반응형 480px *************************/
@media screen and (max-width: 480px) {
  header,
  footer {
    padding: 0 20px;
  }
  header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
  }
  header .logo {
    font-size: 16px;
  }
  header .nav {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    padding-top: 161px;
    background: #f8f8f8;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    -webkit-transition: all 500ms cubic-bezier(0.545, 0.005, 0.945, 0.585);
    transition: all 500ms cubic-bezier(0.545, 0.005, 0.945, 0.585);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 998;
  }
  header .nav li {
    font-size: 32px;
    padding: 0 0 16px 20px;
  }
  header .nav li:nth-of-type(4) {
    padding-top: 15.2em;
  }
  header .nav li.responsive {
    display: block;
    font-size: 14px;
  }
  header .nav li.responsive i.fa-github {
    font-size: 20px;
    padding: 0.25rem;
    color: #1c1b20;
  }
  header .nav.nav-view {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  header .nav-icon {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    display: block;
    position: fixed;
    right: 20px;
    cursor: pointer;
    z-index: 999;
  }
  header .nav-icon .icons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  header .nav-icon .icons div {
    background: #1c1b20;
    margin-bottom: 2px;
  }
  header .nav-icon .icons .icon-1 {
    width: 26px;
    height: 3px;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  header .nav-icon .icons .icon-1.nav-view-ani {
    -webkit-transform: rotate(45deg) translate(20%, 150%);
            transform: rotate(45deg) translate(20%, 150%);
  }
  header .nav-icon .icons .icon-2 {
    width: 18px;
    height: 3px;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  header .nav-icon .icons .icon-2.nav-view-ani {
    width: 0;
  }
  header .nav-icon .icons .icon-3 {
    width: 10px;
    height: 3px;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  header .nav-icon .icons .icon-3.nav-view-ani {
    width: 26px;
    -webkit-transform: rotate(-45deg) translate(10%, -50%);
            transform: rotate(-45deg) translate(10%, -50%);
  }
  .main {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .main-title {
    width: 100%;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
  }
  .main .main-title p:nth-child(1) {
    font-size: 30px;
  }
  .main .main-title p:nth-child(2) {
    font-size: 12px;
  }
  .main .main-title span {
    color: #1c1b20;
  }
  .main .main-img {
    width: 100%;
  }
}
/*# sourceMappingURL=default.css.map */