/**********************초기화 코드 *****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

body {
  width: 1920px;
  height: 100%;
  padding: 0 3.15rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/************************* 변수 ***********************/
$black-color: #1c1b20;
$coral-color: #ff5851;
$white-color: #f8f8f8;

header {
  padding-top: 1rem;
  & .logo {
    font-weight: 900;
    font-size: 1.6rem;
  }
  nav {
    font-weight: 700;
    font-size: 0.9rem;
  }
}
